<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Teste update</title>
</head>
<body>
	<h1>Atualizar Perfil</h1>
	<form action="#" th:action="testAtualizarProfissional" th:object="${usuario}" method="post">
		<p th:inline="text">Codigo do Usuario: [[${usuario.codUsuario}]] </p>
		<input type="hidden" name="codUsuario" th:field="*{codUsuario}">
		<label for="nome">Nome:</label><br>
		<input type="text" th:field="*{nome}"  name="nome"><br>
		
		<label for="email">Email:</label><br>
		<input type="text" th:field="*{email}" name="email"><br>
		
		<label for="telefone">Telefone:</label><br>
		<input type="text" th:field="*{telefone}" name="telefone"><br>
		
		<label for="senha">Senha:</label><br>
		<input type="text" th:field="*{senha}" name="senha"><br>
		
		<label for="ocupacao">Ocupação:</label><br>
		<input type="text" th:field="*{ocupacao}" name="ocupacao"><br>
		
		<label for="areaDeInteresse">Area de Interesse:</label><br>
		<input type="text" th:field="*{areaDeInteresse}" name="areaDeInteresse"><br>
		
		<label for="nivelDeEscolaridade">Nível de Escolaridade:</label><br>
		<input type="text" th:field="*{nivelDeEscolaridade}" name="nivelDeEscolaridade"><br>
		
		<label for="descricao">Descrição:</label><br>
		<input type="text" th:field="*{descricao}" name="descricao"><br>

		<input type="submit" value="Enviar">
	</form>
</body>
</html>