<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="../static/js/login.js" th:src="@{/js/login.js}" th:inline="javascript"></script>

<meta charset="UTF-8">
<title>Tela de Login</title>
</head>
	<body>
		<form th:if="${autenticacao} == null" action="#" th:action="testLogin" method="post">
			<label for="email">Email:</label>
			<input type="text" name="email"><br><br>
			
			<label for="senha">Senha:</label>
			<input type="text" name="senha"><br>
			<button type="submit" value="Login">Login</button> 
		</form>
		<div th:if="${autenticacao} != null" > Usuário autenticado com sucesso. Bem vindo [[${autenticacao.usuario.nome}]] </div>
		<a href="/test">Retornar</a>
		<script th:if="${autenticacao} != null" th:inline="javascript">
			var auth = /*[[${autenticacao}]]*/ 'Auth';
			onLogin();
		</script>
		</body>
</html>