<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dados de Perfil</title>
</head>
<body>
	<div>
	<p th:inline="text">Id: [[${usuario.codUsuario}]] </p>
	<p th:inline="text">Nome: [[${usuario.nome}]] </p>
	<p th:inline="text">Foto?: [[${usuario.foto}]] </p>
	<p th:inline="text">Email: [[${usuario.email}]] </p>
	<p th:inline="text">Ocupação: [[${usuario.ocupacao}]] </p>
	<p th:inline="text">Area de Interesse: [[${usuario.areaDeInteresse}]] </p>
	<p th:inline="text">Nível de Escolaridade: [[${usuario.nivelDeEscolaridade}]] </p>
	<p th:inline="text">Descrição: [[${usuario.descricao}]] </p>
	<form method="post" th:action="testpreloadAtualizarDados" th:if="${session.auth} == ${usuario.codUsuario}">
	<input type="hidden" name="codUsuario" th:value="${usuario.codUsuario}">
	<button type="submit" value="Editar">Editar</button>
	<div th:if="${session.auth} != null">[[${session.auth}]]</div>
	</form>
	</div>
	<a href="/test">Retornar</a>
</body>
</html>